div.all-pages-list-scroller {
	max-width: 350px;
	max-height: 500px;
	overflow-y: auto
}

div.all-pages-list-scroller div.all-pages-list div.listing > span {
	display: inline-block
}

div.all-pages-list-scroller div.all-pages-list div.listing > span {
	margin-top: 14px;
	margin-bottom: 14px;
	padding-left: 8px
}

div.all-pages-list-scroller div.all-pages-list div.listing:nth-child(even) {
	background-color: #0a0a0a
}