html, body {
    height: 100%
}

/* Credit: https://stackoverflow.com/a/27869108/11074765 */
div.outter {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0
}

div.block-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    margin-left: auto;
    margin-right: auto
}

div.block-container > div {
    padding: 16px
}

div.block-container > *:not(:last-child) {
    margin-right: 32px
}

div.listing {
    background-color: #222222;
    padding: 12px;
}

div.listing:nth-child(even) {
    background-color: #444444;
}

div.listing > span {
    display: block
}

div.listing > span#title {
    font-size: 17px
}

div.listing > span#slug {
    font-size: 12px;
    color: #BBBBBB
}

div.listing > span#edit {
    font-size: 14px
}

div.switcher {
    width: 192px;
    background-color: black;
    height: 30px;
    display: flex;
    border: solid 1px #666;
    border-radius: 3px
}

div.switcher > span {
    width: calc(50% - 1px);
    height: calc(100% - 6px);
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-color: transparent;
    border-radius: 3px;
    transition: background-color 0.175s ease-in;
    margin: 2px
}

div.switcher > span.selected {
    background-color: #444
}

div.switcher > span:hover {
    cursor: pointer
}

span.statustext {
    font-size: 12px;
    margin-left: 8px
}

span.statustext.error {
    color: #ff3636
}