body {
    font-family: sans-serif;
    background-color: black;
    color: whitesmoke;
    margin: 0
}

a {
    color: skyblue;
    transition: color 0.1s linear
}

a:hover {
    color: whitesmoke;
    cursor: pointer
}

.hidden {
    display: none
}
