.page-content { line-height: 1.275em; max-width: 1600px; margin-left: auto; margin-right: auto; display: flex; flex-direction: row }
.bold-text { font-weight: bold }
.small-text { font-size: 12px }
.flex-centered { display: flex; justify-content: center; align-items: center }
.editing-infocus { background-color: #222 }
.content { padding: 8px; padding-right: 16px; min-width: 1200px }

.module.page-title, .module.heading { font-family: "Times New Roman"; line-height: 1.2em; padding-bottom: 6px; margin-bottom: 2px; border: 2px solid transparent; border-width: 0 0 2px 0; border-bottom-color: #444 }
.module.page-title { font-size: 36px }
.module.heading { font-size: 26px; display: flex; align-items: center }
.module.heading span#removesection { cursor: pointer; margin-left: 8px }
.module.section-content { padding-top: 18px; line-height: 1.6em; font-size: 15px }

.module.footer { padding-top: 28px; border: 2px solid transparent; border-width: 2px 0 0 0; border-top-color: #444 }

.sub-module { margin-bottom: 18px }
.sub-module.list span#list-item { display: table }
.sub-module.list span#list-item:before { content: '\2022'; margin-right: 6px }

.infobox { max-width: 400px; min-width: 300px; border: 1px solid grey; border-radius: 1px; text-align: center; margin-left: 16px; background-color: #111; padding: 0.2em; position: sticky; top: 56px }
.infobox tbody tr:first-child > td > * { margin-top: 4px }
.infobox > tbody > tr > td > * { margin-bottom: 4px }
.infobox tr { padding-left: 4px; padding-right: 4px; line-height: 1.275em }
.infobox tr.main-image img { width: 150px; height: auto }
.infobox tr.sub-heading > td > div { height: 24px; background-color: #333; font-size: 12px; display: flex; justify-content: center; align-items: center }
.infobox tr.heading { font-size: 18px }
.infobox tr.property td, .infobox tr.property th { font-size: 12px; text-align: left }
