div.toolbar { height: 32px; padding: 6px; display: flex; align-items: center; align-content: space-around; background-color: #222; position: sticky; top: 0; border-style: solid; border-width: 0; border-color: #444; box-shadow: 0 0 4px #000 }
div.toolbar > div:not(:last-child):not(.delimiter) { margin-right: 12px }
div.toolbar > div:first-child { margin-left: 6px }

div.static-icon > span { width: 28px; height: 28px; display: flex; align-items: center; cursor: pointer }
div.static-icon > span > img { width: 28px; height: 28px }

div.static-text > span { color: #666; font-size: 14px }

div.actionable { max-width: 256px; height: 18px; text-align: center; border-style: solid; border-color: #666; border-radius: 3px; border-width: 1px; display: flex; align-items: center; cursor: pointer; transition: border-color .2s linear; padding: 4px; padding-left: 12px; padding-right: 12px }
div.actionable:hover { border-color: whitesmoke }
div.actionable > *:not(:last-child) { margin-right: 6px }
div.actionable > span#icon { height: 16px }
div.actionable > span#text { font-size: 12px; font-weight: bold }

div.toolbar-status > span { color: #666; font-size: 13px; font-weight: bold }
div.toolbar-spinner { width: 14px; height: 14px; margin: 0; background: transparent; border-top: 1px solid whitesmoke; border-right: 1px solid transparent; border-radius: 50%; animation: .75s spin linear infinite }

div.delimiter { width: 1px; height: 32px; border-style: solid; border-color: #333; border-width: 0; border-right-width: 1px; margin-right: 13px }
@keyframes spin {
	from { transform: rotate(0deg) }
	to { transform: rotate(360deg) }
}
